{{#each children}} {{! Each item is an "li" }}
    {{#if fileData}}
        <li class="{{#ifCond fileData.name '==' @root.name}}active{{/ifCond}} {{#ifCond children.length '>=' 0}}folder{{else}}file{{/ifCond}}">
            {{#if fileData.isFolder}}
                <a><i class="fi-folder"></i><span>{{fileData.name}}</span></a>
            {{else}}
                <a href="{{fileData.docFileName}}"><i class="fi-page"></i><span>{{fileData.name}}</span></a>
            {{/if}}

            {{#if children}} {{! Within the context of the current item }}
                <ul class="menu vertical">
                    {{> list}} {{! Recursively render the partial }}
                </ul>
            {{/if}}
        </li>
    {{else}}
        {{#if children}} {{! Within the context of the current item }}
            {{> list}} {{! Recursively render the partial }}
        {{/if}}
    {{/if}}
{{/each}}